//noinspection ALL
@mixin image-sizes($extra:0.1px) {
  @screen md { max-width:calc(config('maxWidth.sm') + #{$extra}); }
  @screen lg { max-width:calc(config('maxWidth.md') - 6rem + #{$extra}); }
  @media (min-width: 1048px) {
    max-width:calc(config('maxWidth.lg') - 6rem + #{$extra});
  }
  @screen xl { max-width:calc(config('maxWidth.xl') - 6rem + #{$extra}); }
  @media (min-width: 1300px) {
    max-width:calc(config('maxWidth.xl') - 2rem + #{$extra});
  }
}

@mixin carousel-margin($margin) {
  margin-left: -$margin;
  .VueCarousel-inner {
    margin-left: $margin;
  }
}

@mixin carousel-opaque-slides {
  .slide {
    .slide-image-container {
      background: white;
    }
    img {
      opacity: .5;
      transition: opacity 500ms ease;
    }
    &.VueCarousel-slide-active {
      img {
        opacity: 1;
      }
    }
  }
}

.project {
  .content {
    a {
      @apply .bg-brand-cyan-lighter .text-brand-cyan-darker .px-1 .inline-block .leading-tight;
      &:hover {
        //@apply .bg-brand-brown .text-white .no-underline;
      }
    }
  }
  p {
    @apply .mb-8;
    @screen lg { @apply .max-w-md; }
    @screen xl { @apply .max-w-lg; }
  }
  p, .stack-top, .carousel {
    img {
      @include image-sizes;
      @apply .shadow-md-brand;
    }
  }
  .legend, img+em { //image legend
    @apply .font-sans .text-base .roman .block .text-grey-darker;
  }
  .carousel, .stack {
    @apply .mb-8;
  }

  .carousel {
    @apply .relative .z-20 .w-screen;
    @include carousel-margin(16rem);
    //@include carousel-opaque-slides;

    &.carousel--initial {
      @apply .z-0;
    }

    .VueCarousel-inner {
      @include image-sizes(3.5rem);
    }
    .slide {
      img {
        @apply .shadow-none;
        border: 1px solid rgba(0,0,0,.1);
      }
    }

    .legend {
      margin-right: 3.5rem;
    }

    .VueCarousel-slide-active {
      img {
        @apply .shadow-md-brand;
      }
      .legend {
        @apply .font-bold;
      }
    }
  }
  .stack {
    .legend {
      @apply .text-white;
    }
  }
}

.mobile {
  .carousel {
    @include carousel-margin(4rem);
  }
}