@tailwind preflight;
@tailwind utilities;

@import "page/sharp";

html, body {
  min-height: 100%;
}

body {
  @apply .font-sans;
}

a {
  @apply .text-brand-cyan .no-underline;

  &:hover {
    @apply .underline;
  }
}

p {
  @apply .mb-4 .font-serif .text-xl;
  line-height: 1.75;
}


.sticky-title-object {
  transition: transform 100ms ease-in-out;
}