@import "fonts";
@import 'root';

@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'typography';

@import "components/content";
@import "components/paragraph";
@import "components/stack";
@import "components/logo";
@import "components/carousel";
@import "components/sticky-title";
@import "components/section";
@import "components/nav";
@import "components/card";

@import "page/project";
@import "page/home";

html {
  scroll-behavior: smooth;
}

html, body {
  min-height: 100%;
  line-height: 1.5;
  overflow-x: hidden;
}

body {
  background-color: var(--body-bg-color, #071735);
  color: var(--body-color, #EBEBEB);
  @apply font-sans;
}

.light {
  --body-bg-color: white;
  --body-color: #22292f;
  --logo-bg-color: #22292f;
  --logo-color: #EBEBEB;
  --nav-link-color: #2C7467;
}

.container {
  padding-left: var(--container-padding-x);
  padding-right: var(--container-padding-x);
}

ul {
  @apply mt-2;
}

.sticky-title-object {
  transition: transform 100ms ease-in-out;
}

[x-cloak] {
  display: none!important;
}

[data-image-dialog] img {
  cursor: zoom-in;
}

dialog:not([open]) {
  display: none;
}
