@tailwind base;
@tailwind components;
@tailwind utilities;

@import "page/project";
@import "page/home";

@import "components/stack";
@import "components/code";
@import "components/logo";

html, body {
  min-height: 100%;
  line-height: 1.5;
  overflow-x: hidden;
}

body {
  background-color: var(--body-bg-color, #071735);
  color: var(--body-color, #EBEBEB);
  @apply font-sans;
}

.light {
  --body-bg-color: white;
  --body-color: #22292f;
  --logo-bg-color: #22292f;
  --logo-color: #EBEBEB;
}

a {
  @apply text-brand-cyan no-underline;

  &:hover {
    @apply underline;
  }
}

p, .paragraph {
  @apply mb-4 font-serif text-xl;
}

ul {
  @apply mt-2;
}


.sticky-title-object {
  transition: transform 100ms ease-in-out;
}

[v-cloak] {
  display: none!important;
}
